*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 400;
}

.header {
  margin: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 8rem;
}
.header .logo img {
  width: 100%;
}
.header .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}
.header .nav span {
  font-size: 1rem;
  font-weight: 400;
  color: hsl(238deg, 22%, 44%);
}

.section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin: 4rem;
}
.section-1 .section-left {
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: hsl(243deg, 87%, 12%);
  gap: 1.2rem;
}
.section-1 .section-left h1 {
  font-weight: 400;
  font-size: 2.2rem;
}
.section-1 .section-left p {
  font-weight: 400;
  font-size: 1rem;
}
.section-1 .section-left .form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 80%;
}
.section-1 .section-left .form input {
  width: 70%;
  border-color: hsl(0deg, 0%, 75%);
  height: 2rem;
  border-radius: 4px;
  padding: 0.4rem;
}
.section-1 .section-left .form .btn {
  background-color: hsl(224deg, 93%, 58%);
  width: 30%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 0.8rem;
}
.section-1 .section-right {
  width: 40rem;
}
.section-1 .section-right img {
  width: 100%;
}

.section-2 {
  background-image: url(./images/bg-curve-desktop.svg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin: 4rem;
}
.section-2 .section-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.section-2 .section-left h1 {
  font-weight: 400;
  font-size: 2.2rem;
}
.section-2 .section-left p {
  font-weight: 400;
  font-size: 1rem;
}
.section-2 .section-left .btn {
  color: hsl(170deg, 45%, 43%);
  font-size: 1rem;
  display: flex;
  align-content: center;
  text-decoration: underline;
}
.section-2 .section-left .component {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 50%;
}
.section-2 .section-left .component .person-bloc {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.section-2 .section-left .component .person-bloc img {
  width: 4rem;
  border-radius: 2rem;
  margin: 0.5rem;
}
.section-2 .section-left .component .person-bloc .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-2 .section-right {
  width: 40rem;
}
.section-2 .section-right img {
  width: 100%;
}

.footer-top {
  background-color: hsl(238deg, 22%, 44%);
  color: white;
  padding: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9rem;
}
.footer-top .footer-top-left {
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-top .footer-top-right {
  width: 30rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-top .footer-top-right input {
  width: 100%;
  height: 2.5rem;
  padding: 0.6rem;
}
.footer-top .footer-top-right .btn {
  background-color: hsl(224deg, 93%, 58%);
  width: 30%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  height: 2.4rem;
  border-radius: 0.2rem;
}

.footer-bottom {
  background-color: hsl(243deg, 87%, 12%);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;
  font-size: 0.9rem;
}
.footer-bottom .logo {
  width: 10rem;
}
.footer-bottom img {
  filter: invert(92%) sepia(78%) saturate(0%) hue-rotate(248deg) brightness(110%) contrast(100%);
}
.footer-bottom .info {
  display: flex;
  flex-direction: row;
  gap: 15%;
  height: 8rem;
  width: 90%;
}
.footer-bottom .info .info-1 {
  display: flex;
  flex-direction: column;
  gap: 15%;
  height: 8rem;
  width: 90%;
}
.footer-bottom .info .info-1 .bloc-info-1 {
  display: flex;
  flex-direction: row;
  gap: 10%;
}
.footer-bottom .info .info-1 .bloc-info-1 .icon {
  width: 1.5rem;
  height: 1.2rem;
  filter: invert(92%) sepia(78%) saturate(0%) hue-rotate(248deg) brightness(110%) contrast(100%);
}
.footer-bottom .icons {
  display: flex;
  flex-direction: row;
  gap: 10%;
  width: 10rem;
}
.footer-bottom .icons .icon {
  border-radius: 2rem;
  width: 3rem;
  height: 2.5rem;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-bottom .icons .icon .ic {
  width: 45%;
  fill: #fff;
}

@media screen and (max-width: 90rem) {
  .section-1 {
    flex-direction: column;
    margin: 4rem 0;
  }
  .section-1 .section-left {
    width: 75%;
  }
  .section-1 .section-right {
    width: 55%;
  }
  .section-2 {
    flex-direction: column;
    margin: 0;
  }
  .section-2 .section-left {
    margin: 0 4rem;
    width: 80%;
  }
  .section-2 .section-right {
    width: 55%;
    margin-bottom: 4rem;
  }
  .footer-top {
    font-size: 0.8rem;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .footer-bottom {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 37.8rem) {
  .header {
    margin: 2rem 1rem;
  }
  .header .logo {
    width: 6rem;
  }
  .header .nav {
    gap: 0.5rem;
  }
  .section-1 {
    flex-direction: column-reverse;
  }
  .section-1 .section-right {
    width: 80%;
  }
  .section-1 .section-left {
    width: 80%;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }
  .section-1 .section-left .form {
    width: 100%;
    flex-direction: column;
  }
  .section-1 .section-left .form input {
    width: 100%;
    height: 2.5rem;
  }
  .section-1 .section-left .form .btn {
    width: 100%;
    height: 2.5rem;
  }
  .section-2 {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .section-2 .section-right {
    width: 80%;
  }
  .section-2 .section-left {
    width: 80%;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-size: 0.8rem;
  }
  .section-2 .section-left .btn {
    margin-top: 2rem;
  }
  .section-2 .section-left .component {
    width: 100%;
    margin: 3rem;
  }
  .footer-top {
    padding: 1rem;
  }
  .footer-top .footer-top-left {
    width: 20rem;
    align-items: center;
    justify-content: center;
  }
  .footer-top .footer-top-right {
    width: 18rem;
  }
  .footer-top .footer-top-right .btn {
    width: 100%;
  }
  .footer-bottom {
    padding: 1rem;
  }
  .footer-bottom .info {
    height: 30rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  .footer-bottom .info .info-1 {
    height: 10rem;
  }
}/*# sourceMappingURL=style.css.map */